################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LevapTech.OfflineTextClassifier/.vs/LevapTech.OfflineTextClassifier
/LevapTech.OfflineTextClassifier/obj
/LevapTech.OfflineTextClassifier/.vs/ProjectEvaluation
/LevapTech.OfflineTextClassifier/bin/Debug/net8.0
/Tests/LevapTech.OfflineTextClasifier.Tests/bin/Debug/net8.0
/Tests/LevapTech.OfflineTextClasifier.Tests/obj/Debug/net8.0
/Tests/LevapTech.OfflineTextClasifier.Tests/obj
/LevapTech.OfflineTextClassifier/Models
